body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Neue-Machina', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f6eee3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Neue-Machina";
  src: url("fonts/NeueMachina-Regular.woff") format('woff');
}
@font-face {
  font-family: "Neue-Machina";
  src: url("fonts/NeueMachina-Ultrabold.woff") format('woff');
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: black;
}